    body {
        background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255)),
        url(img/バド.png);
        background-size: cover;
    }
    h1{
         border-left: solid 5px #0093D0;
          padding-left:10px;
     }
     h2 {
        padding: 1rem 2rem;
        border-left: 5px solid rgb(33, 231, 214);
      }
    